streamlit
pandas
plotly
transformers
openai
scikit-learn
beautifulsoup4
requests
pyautogui
pyperclip
joblib
yfinance
websocket-client
numpy
matplotlib
pyqlib
aiohttp
psutil
playwright
Pillow
python-dotenv

SQLAlchemy
alembic

# Reinforcement learning
finrl
stable-baselines3

# Testing
pytest
watchdog
fastapi
uvicorn
SpeechRecognition
pyttsx3
pyaudio
